th:hover .sort-icon {
    opacity: 0.5;
    height: 1px;
  }

  .sort-icon {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;

  }
  
  .sort-icon.visible {
    opacity: 0.5; /* Visible when not hidden */
    
  }
  .table{
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;

}
.search-input {
  background-color: #162c46;
  color: white;
  padding: 12px;
  border: 0;
  /* border: 1px solid #3f51b5; */
  border-radius: 4px;
  width: 400px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.material-icons {
  color: #3f51b5;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

.material-icons:hover {
  background: rgba(0,0,0,.54);; /* Specify the background color on hover */
}

