.customer-details {
  position: fixed;
  width: 780px;
  margin-top: 0px;
  padding: 10px;
  background-color: #3f51b5;
  color: rgb(211, 227, 253);
  display: flex;
  justify-content: center;
}

.maincard {
  background-color: #0d2136;
  color: rgb(211, 227, 253);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.details {
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.details ul {
  margin-top: -10px;
  width: 700px;
  padding: 0;
  margin-left: 50px;
  border: 1px solid #3f51b5;
  overflow-y: auto; 
  max-height: 100px; 
}
li{
  padding-left: 20px;
}

.details .payment-list-container {
  max-height: 200px; 
}
strong {
  color: #3f51b5;
  padding-right: 5px;
}
.close-button{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    background-color: #3f51b5;
    padding: 10px;
    border: 0;
    border-radius: 6px;
    color: white;
}
