.maincard {
  background-color: #0d2136;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  border-radius: 0px;
  border-width: 0px;
  border: 1px solid #3f51b5;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.payment-input {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  height: 20px;
  padding: 10px;
  border-radius: 6px;
  width: 300px;
  background: rgb(3, 21, 37);
  border-width: 0px;
  border-color: #092635;
  color: rgb(211, 227, 253);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.payment-input:disabled{
  cursor: not-allowed;
}
.container1 {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
.all-label {
  margin-top: 20px;
  color: rgb(211, 227, 253);
}
.edit-customer-heading2 {
  margin-top: 0px;
  color: rgb(211, 227, 253);
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #3f51b5;
}
.right-bottom-button-cancel2 {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 90px;
  margin-bottom: 10px;
  background-color: #3f51b5;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.right-bottom-button-save2 {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: #3f51b5;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.alert-message{
  color: red;
  margin-top: 8px;
  margin-left: 50px;
}
.right-bottom-button-save2:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.add-payment-error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .maincard {
    background-color: #0d2136;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    border-radius: 0px;
    border-width: 0px;
    border: 1px solid #3f51b5;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .payment-input {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 20px;
    padding: 5px;
    border-radius: 2px;
    width: 200px;
    background: rgb(3, 21, 37);
    border-width: 0px;
    border-color: #092635;
    color: rgb(211, 227, 253);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .payment-input:disabled{
    cursor: not-allowed;
  }
  .container1 {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
  }
  .all-label {
    margin-left: 15px;
    margin-top: 20px;
    color: rgb(211, 227, 253);
    font-size: 10px;
  }
  .edit-customer-heading2 {
    margin-top: 0px;
    color: rgb(211, 227, 253);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    background-color: #3f51b5;
  }
  .right-bottom-button-cancel2 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 90px;
    margin-bottom: 10px;
    background-color: #3f51b5;
    padding: 5px;
    border: 0;
    font-size: 10px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
  .right-bottom-button-save2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #3f51b5;
    padding: 5px;
    font-size: 10px;
    border: 0;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
  .right-bottom-button-save:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  .add-payment-error-message {
    color: #ff0000;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 25px;
  }
}
